# ================================================
# BULK_SEND_API_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
database=MYSQL_DB
host=MYSQL_HOST
user=MYSQL_USER
password=MYSQL_PASSWORD
port=3306
connectionLimit=10
waitForConnections=true
charset=utf8

# ---------- MONGODB CONFIGURATION ----------
MONGO_URL=MONGODB_URL

# ---------- KAFKA CONFIGURATION ----------
BROKERS=KAFKA_BROKERS

# ---------- MISC CONFIGURATION ----------
url_catalog=https://graph.facebook.com/v22.0