# ================================================
# PARTNER'S_API_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
database=MYSQL_DB
host=MYSQL_HOST
user=MYSQL_USER
password=MYSQL_PASSWORD
port=3306
connectionLimit=10
waitForConnections=true
charset=utf8

# ---------- MONGODB CONFIGURATION ----------
db_url=MONGODB_URL

# ---------- KAFKA CONFIGURATION ----------
KAFKA_BROKERS=KAFKA_BROKERS

# ---------- AWS S3 CONFIGURATION ----------
ACCESSKEYID=ACCESSKEYID
SECRETACCESSKEY=SECRETACCESSKEY
BUCKET_NAME=BUCKET_NAME

# ---------- LOG DIRECTORY PATH ----------
LOG_DIR_PATH="/wa_logs/partners_api_logs/"

# ---------- CACHE TTL (in seconds) ----------
selectapikey_cache=900
getSystemAccessToken_cache=900
userid_cache=900
wanumber_cache=900
waurl_cache=900
template_cache=900
dynamicModel_cache=900
temp_category_cache=900
companyName_cache=900

# ---------- MISC CONFIGURATION ----------
domain_url=http://{{PARTNER'S_API_SERVER_IP:2707}}/v3/whatsapp_business/attachments/?
hasImage=https://{{CONSOLE_SERVER_IP}}/assets/template_preview/images/img-placeholder.png
hasVideo=https://{{CONSOLE_SERVER_IP}}/assets/template_preview/images/video-placeholder.png
hasDocument=https://{{CONSOLE_SERVER_IP}}/assets/template_preview/images/file-placeholder.png
buss_domain_url=http://{{PARTNER'S_API_SERVER_IP:2707}}/v3
flows_buss_domain_url=http://{{PARTNER'S_API_SERVER_IP:2707}}/v3/flows
bussiness_api_url=http://{{PARTNER'S_API_SERVER_IP:2707}}/v3/business
mmlite_api_url=http://{{PARTNER'S_API_SERVER_IP:2707}}/v3/mmlite
imageURL=http://{{PARTNER'S_API_SERVER_IP:2707}}/v3/images