# ================================================
# WHATSAPP_MGMT_API_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
database=MYSQL_DB
host=MYSQL_HOST
user=MYSQL_USER
password=MYSQL_PASSWORD
port=3306
connectionLimit=10
waitForConnections=true
charset=utf8mb4

# ---------- MISC CONFIGURATION ----------
media_url="http://{{CONSOLE_SERVER_IP}}"