# ================================================
# API_GATEWAY_ENVIRONMENT_VARIABLES
# ================================================

#PORT
PORT=9091

#TOKEN
SECRET_KEY=secretKey

#LOG
LOG_FORMAT=dev
LOG_DIR=/wa_logs/api_gateway/

#CORS
ORIGIN=*
CREDENTIALS=true

#version 2 for multiwaba reporting
# 0 FOR MONGO 1 FOR DATALAKE
API_REPORTING_FLAG=0

#API URLS
DRILL_API_URL=http://{{API_AGGREGATOR_SERVER_IP}}:9092
CALLBACK_API_URL=http://{{API_AGGREGATOR_SERVER_IP}}:9093
DATALAKE_API_URL=DATALAKE_API_URL