# ================================================
# OPERATION_CONSUMER_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
MYSQLHOST=MYSQLHOST
MYSQLUSER=MYSQLUSER
MYSQLPASSWORD=MYSQLPASSWORD
MYSQLDB=MYSQLDB

# ---------- MONGODB CONFIGURATION ----------
MONGOLAB_URI=MONGOLAB_URI

# ---------- KAFKA CONFIGURATION ----------
BROKERS=KAFKA_BROKERS

# ---------- AWS DYNAMIC CONSUMER CONFIGURATION ----------
SECRET_KEY=SECRET_KEY
SALTVALUE=SALTVALUE
ACCESS_KEY=ACCESS_KEY
DYNAMIC_CONSUMER_LAUNCH_API=http://{{DYNAMIC_CONSUMER_API:4000}}/createInstance
DYNAMIC_CONSUMER_DELETE_API=http://{{DYNAMIC_CONSUMER_API:4000}}/terminateInstance
ENVIRONMENT=ENVIRONMENT
PRODUCTTYPE=WHATSAPP
VPC_ID=VPC_ID
SUBNET_ID=SUBNET_ID
IMAGE_ID=IMAGE_ID

# ---------- LOG DIRECTORY PATH ----------
LOG_DIR_PATH="/wa_logs/operation_consumer_logs/"

#REDIS CONFIGURATION
REDIS_IP=REDIS_IP
REDIS_PORT=REDIS_PORT
REDIS_PASSWORD=REDIS_PASSWORD

# ---------- OPERATION CONSUMER CONFIGURATION ----------
SENT_MASTER_TOPIC_CREATION_PARTITION=4
REPLICATION_FACTOR=3
SETTINGS_KAFKA_TOPIC='callback.ezeebot.ezb_wa_msg_settings'
CUSTOM_RATE_KAFKA_TOPIC='callback.ezeebot.ezb_wa_customize_rate'
DEFAULT_RATE_KAFKA_TOPIC='callback.ezeebot.ezb_wa_rate_master'
API_KEYS_KAFKA_TOPIC='callback.ezeebot.ezb_wa_api_keys'
USERS_KAFKA_TOPIC='callback.ezeebot.ezb_users'
THREADSPAWN_KAFKA_TOPIC='threadspawn.ezeebot.ezb_kafka_topic'
KAFKA_BALANCE_EVENT_TOPIC='balance-events'

CONSOLE_STATUS_API=http://{{CONSOLE_SERVER_IP:80}}/api/get-event-for-next-queued-campaign
IGNORED_NUMBERS='+IGNORED_NUMBER1,+IGNORED_NUMBER2,+IGNORED_NUMBER3'  # Example: +91XXXXXXXX,+91XXXXXXXX,+91XXXXXXXX
