# ================================================
# SEND_API_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
database=MYSQL_DB
host=MYSQL_HOST
user=MYSQL_USER
password=MYSQL_PASSWORD
port=3306
connectionLimit=10
waitForConnections=true
charset=utf8mb4

# ---------- MONGODB CONFIGURATION ----------
db_url=MONGODB_URL

# ---------- KAFKA CONFIGURATION ----------
KAFKA_BROKERS=KAFKA_BROKERS

# ---------- AWS S3 CONFIGURATION ----------
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY