# ================================================
# CALLBACK_PROCESSOR_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
MYSQLHOST=MYSQLHOST
MYSQLUSER=MYSQLUSER
MYSQLPASSWORD=MYSQLPASSWORD
MYSQLDB=MYSQLDB

# ---------- MONGODB CONFIGURATION ----------
MONGOLAB_URI=MONGOLAB_URI

# ---------- KAFKA CONFIGURATION ----------
BROKERS=KAFKA_BROKERS

# ---------- AWS S3 CONFIGURATION ----------
ACCESSKEYID=ACCESSKEYID
SECRETACCESSKEY=SECRETACCESSKEY
AWS_REGION=AWS_REGION
AWS_S3_BUCKET=AWS_S3_BUCKET

# ---------- LOG DIRECTORY PATH ----------
LOG_DIR="/wa_logs/callback_processor_logs/"

#REDIS CONFIGURATION
REDIS_IP=REDIS_IP
REDIS_PORT=REDIS_PORT
REDIS_PASSWORD=REDIS_PASSWORD

# ---------- CALLBACK PROCESSOR CONFIGURATION ----------
CALLBACK_BATCH_SIZE=500
DELAY=800
CDC_ENV=CDC_ENV

KAFKA_CALLBACK_CONTACTS_TOPIC=KAFKA_CALLBACK_CONTACTS_TOPIC
KAFKA_CALLBACK_MANAGEMENT_TOPIC=wacallback_management
KAFKA_CALLBACK_STATUSES_TOPIC_1=newwacallback_statuses_1
KAFKA_CALLBACK_STATUSES_TOPIC_2=newwacallback_statuses_2
KAFKA_CALLBACK_STATUSES_TOPIC_3=newwacallback_statuses_3
KAFKA_CALLBACK_STATUSES_TOPIC_4=newwacallback_statuses_4
KAFKA_CALLBACK_STATUSES_TOPIC_5=newwacallback_statuses_5
KAFKA_CALLBACK_STATUSES_TOPIC_6=newwacallback_statuses_6
KAFKA_CALLBACK_STATUSES_TOPIC_7=newwacallback_statuses_7
KAFKA_CALLBACK_STATUSES_TOPIC_8=newwacallback_statuses_8
KAFKA_CALLBACK_STATUSES_TOPIC_9=newwacallback_statuses_9
KAFKA_CALLBACK_STATUSES_TOPIC_10=newwacallback_statuses_10
KAFKA_CALLBACK_STATUSES_TOPIC_11=newwacallback_statuses_11
KAFKA_CALLBACK_STATUSES_TOPIC_12=newwacallback_statuses_12
KAFKA_CALLBACK_STATUSES_TOPIC_13=newwacallback_statuses_13
KAFKA_CALLBACK_STATUSES_TOPIC_14=newwacallback_statuses_14
KAFKA_CALLBACK_STATUSES_TOPIC_15=newwacallback_statuses_15
KAFKA_CALLBACK_STATUSES_FAILED_TOPIC=wacallback_UPDATE_DATA_RETRY
KAFKA_CALLBACK_CONTACTS_OTHER=wacallback_contacts_other
KAFKA_CALLBACK_BALANCE_EVENTS_TOPIC=balance-events

# TEST TOPICS
TEST_STATUSES_TOPICS=wacallback_statuses_1,wacallback_statuses_2,wacallback_statuses_3,wacallback_statuses_4,wacallback_statuses_5,wacallback_statuses_6,wacallback_statuses_7,wacallback_statuses_8,wacallback_statuses_9,wacallback_statuses_10
TEST_CONTACTS_TOPICS=wacallback_contacts
TEST_MANAGEMENT_TOPICS=wacallback_management

UPSERT_FAILED_UPDATE=true
UPSERT_DEFAULT=true
BALANCE_UPDATE_FLAG_MONGODB=false
BALANCE_EVENTS_KAFKA_FLAG=true
BULK_DEDUCTION_INTERVAL=10000
TRANSACTION_LOGGING_MONGODB=true
TRANSACTION_LOGGING_WINSTON=true
IGNORED_WABANUMBER=IGNORED_WABANUMBER1,IGNORED_WABANUMBER2,IGNORED_WABANUMBER3

# ---------- CACHE TTL (in seconds) ----------
SETTINGS_CACHE_TTL=300
SENT_MASTER_CACHE_TTL=300
USER_CACHE_TTL=300
TSP_USER_CACHE_TTL=300
CUSTOMIZE_RATE_MASTER_CACHE_TTL=300
TSP_CUSTOMIZE_RATE_MASTER_CACHE_TTL=300
DEFAULT_RATE_MASTER_CACHE_TTL=300
TSP_DEFAULT_RATE_MASTER_CACHE_TTL=300
ACCESS_TOKEN_CACHE_TTL=300
SESSION_CACHE_TTL=300