# ================================================
# PARTNER'S_API_NODE_CONSUMER_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MONGODB CONFIGURATION ----------
MONGODB_URI=MONGODB_URL

# ---------- KAFKA CONFIGURATION ----------
KAFKA_BROKERS=KAFKA_BROKERS

#success meta response
KAFKA_TOPIC=ezb_partners_data_success
KAFKA_CLIENT_ID=meta-success-client
KAFKA_GROUP_ID=meta-success-group

#failed meta response
META_FAILED_KAFKA_TOPIC=ezb_partners_data_meta_failed
META_FAILED_KAFKA_CLIENT_ID=meta-failed-client
META_FAILED_KAFKA_GROUP_ID=meta-failed-group

PARTNERS_SUCCESS_BATCH_SIZE=500
PARTNERS_80TPS_BATCH_SIZE=80
PARTNERS_1000TPS_BATCH_SIZE=1000

# ---------- AWS S3 CONFIGURATION ----------
ACCESSKEYID=ACCESSKEYID
SECRETACCESSKEY=SECRETACCESSKEY
BUCKET_NAME=BUCKET_NAME
AWS_REGION=AWS_REGION
LOG_KEY='saveDataErrorLog_PF'

# ---------- CALLBACK URL CONFIGURATION ----------
GO_KWICK_URL=GO_KWICK_URL