# ================================================
# CUSTOM_CALLBACK_PROCESSOR_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
MYSQLHOST=MYSQLHOST
MYSQLUSER=MYSQLUSER
MYSQLPASSWORD=MYSQLPASSWORD
MYSQLDB=MYSQLDB

# ---------- MONGODB CONFIGURATION ----------
MONGOLAB_URI=MONGOLAB_URI

# ---------- KAFKA CONFIGURATION ----------
BROKERS=KAFKA_BROKERS

# ---------- AWS S3 CONFIGURATION ----------
ACCESSKEYID=ACCESSKEYID
SECRETACCESSKEY=SECRETACCESSKEY
AWS_REGION=AWS_REGION
AWS_S3_BUCKET=AWS_S3_BUCKET

# ---------- LOG DIRECTORY PATH ----------
LOG_DIR_PATH="/wa_logs/custom_callback_processor_logs/"

# ---------- CUSTOM CALLBACK PROCESSOR CONFIGURATION ----------
HOST=HOST
PORT=PORT
CDC_ENV=CDC_ENV
LOG_METRICS_TO_KAFKA=false
LOG_FAILED_CALLBACK_TO_FILE=false
CALLBACK_LOGGER_ENABLED=true
INSERT_BATCH_SIZE=500

KAFKA_CUSTOM_CALLBACK_CONTACT_TOPIC=wacallback_contacts
KAFKA_CUSTOM_CALLBACK_MANAGEMENT_TOPIC=wacallback_management
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC=wacallback_statuses
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_1=newwacallback_statuses_1
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_2=newwacallback_statuses_2
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_3=newwacallback_statuses_3
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_4=newwacallback_statuses_4
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_5=newwacallback_statuses_5
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_6=newwacallback_statuses_6
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_7=newwacallback_statuses_7
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_8=newwacallback_statuses_8
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_9=newwacallback_statuses_9
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_10=newwacallback_statuses_10
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_11=newwacallback_statuses_11
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_12=newwacallback_statuses_12
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_13=newwacallback_statuses_13
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_14=newwacallback_statuses_14
KAFKA_CUSTOM_CALLBACK_STATUSES_TOPIC_15=newwacallback_statuses_15
KAFKA_CUSTOM_CALLBACK_RETRY_TOPIC=custom_callback_retry
KAFKA_CUSTOM_CALLBACK_FINAL_FAILED_TOPIC=custom_callback_dlq

# TEST TOPICS
TEST_CUSTOM_CALLBACK_STATUSES_TOPICS=wacallback_statuses_1,wacallback_statuses_2,wacallback_statuses_3,wacallback_statuses_4,wacallback_statuses_5,wacallback_statuses_6,wacallback_statuses_7,wacallback_statuses_8,wacallback_statuses_9,wacallback_statuses_10,wacallback_statuses_11,wacallback_statuses_12,wacallback_statuses_13,wacallback_statuses_14,wacallback_statuses_15
TEST_CUSTOM_CALLBACK_CONTACTS_TOPICS=wacallback_contacts
TEST_CUSTOM_CALLBACK_MANAGEMENT_TOPICS=wacallback_management

# ---------- ADDITIONAL CONFIGURATION ----------
JWT_SECRET=JWT_SECRET
AXIOS_TIMEOUT=10000
RETRY_COUNT=2
RETRY_DELAY=500

# ---------- CACHE TTL (in seconds) ----------
NODE_CACHE_EXPIRY=60

#SFTP CONFIGURATION
INPUT_DIR='/wa_logs'
OUTPUT_DIR='/wa_logs/sftp_data'