# ================================================
# CAMPAIGN_ASSIGNER_ENVIRONMENT_VARIABLES
# ================================================

# ---------- KAFKA CONFIGURATION ----------
BROKERS=KAFKA_BROKERS

# ---------- CAMPAIGN ASSIGNER CONFIGURATION ----------
KAFKA_TOPIC=c1
KAFKA_TOPIC1=c3
ENV=ENV
JAR_PORT=8080
JAR_PORT1=8081
JAR_PORT2=8082
SUDO_PASSWORD=SUDO_PASSWORD
APP_NAME=c1
APP_NAME1=c2
JAVA_CONSUMER_PATH='/opt/campaign_processor_java/config.properties'
JAR_FILE_PATH=/opt/kafka-processor-1.0-SNAPSHOT.jar
KAFKA_TOPIC_NAME='wa-submit-event'