# ================================================
# STATISTICS_APP_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
MYSQLDB=MYSQL_DB
MYSQLHOST=MYSQL_HOST
MYSQLUSER=MYSQL_USER
MYSQLPASSWORD=MYSQL_PASSWORD
MYSQLPORT=3306
MYSQLCONNECTIONLIMIT=10

# ---------- APPLICATION CONFIGURATION ----------
MAX_RETRIVE_COUNT=3