[Unit]
Description=campaign_processor_java Service
After=network.target

[Service]
ExecStart=java -Dkafka.topic=912345678922_102218_1000 -Dkafka.topic.name=wa-submit-event -jar /opt/campaign_processor_java/kafka-processor-1.0-SNAPSHOT.jar 8080
WorkingDirectory=/opt/campaign_processor_java/
Restart=on-failure
RestartSec=5s
User=root
Environment=NODE_ENV=development
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=campaign_processor_java-service

[Install]
WantedBy=multi-user.target
