# ================================================
# BULK_THREADSPAWN_CONSUMER_ENVIRONMENT_VARIABLES
# ================================================

# ---------- MYSQL CONFIGURATION ----------
database=MYSQL_DB
host=MYSQL_HOST
user=MYSQL_USER
password=MYSQL_PASSWORD
port=3306
connectionLimit=10
waitForConnections=true
charset=utf8mb4

#MONGODB CONFIGURATION
db_url=MONGODB_URL

# ---------- KAFKA CONFIGURATION ----------
BROKERS=KAFKA_BROKERS

# ---------- BULK THREADSPAWN CONFIGURATION ----------
RETRY_TOPIC="threadspawn.ezeebot.send_bulk_retry"
BULK_THREADSPWAN="threadspawn.ezeebot.ezb_message_api_request_master"
RATE_LIMIT_ERROR_CODE="130429"
INVALID_NUMBER_ERROR_CODE="100"
INVALID_TEMPLATE_ERROR_CODE="132001"
INVALID_TEMPLATE_PARAMETER="132000"
NON_WHATSAPP_NUMBER="131026"