# ================================================
# API_AGGREGATOR_ENVIRONMENT_VARIABLES
# ================================================

# PORT
PORT=9093

# ---------- MYSQL CONFIGURATION ----------
DB_HOST=MONGODB_HOST
DB_PORT=27017
DB_DATABASE=callbackdb

# ---------- MONGODB CONFIGURATION ----------
MONGO_URI=MONGO_URI
BACKUP_URI=BACKUP_URI

# TOKEN
SECRET_KEY=secretKey

# LOG
LOG_FORMAT=dev
LOG_DIR=/wa_logs/api_aggregator/

# CORS
ORIGIN=*
CREDENTIALS=true

EXCLUDE_ERROR_CODE=101,131009,100,131026
MASKED_WANUMBER='+MASKED_WANUMBER1,+MASKED_WANUMBER2'